body {
  background-image: linear-gradient(#fff, #fbfbfb);
  background-attachment: fixed;
}

p {
  font-family: Helvetica, sans-serif, system-ui;
  font-size: 18px;
  color: #222;
  margin-bottom: 5px;
  text-shadow: 0 1px 8px #00000055;
}

h2 {
  font-family: Helvetica, sans-serif, system-ui;
  font-size: 24px;
  color: #222;
  margin: 10px 0 30px;
  text-shadow: 0 1px 8px #00000033;
}

input {
  font-family: Helvetica, sans-serif, system-ui;
  font-size: 16px;
  background-image: linear-gradient(#fff, #f7f7f7);
  color: #222;
  border: solid 2px #888;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 1px 5px #00000055;
  outline: none;
}

select {
  font-family: Helvetica, sans-serif, system-ui;
  font-size: 16px;
  background-image: linear-gradient(#fff, #f7f7f7);
  color: #222;
  width: 100px;
  border: solid 2px #888;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 1px 5px #00000055;
}

div.box {
  background-color: #ffffff;
  padding: 16px 24px;
  border: none 8px;
  border-radius: 8px;
  box-shadow: 0 1px 5px #00000070;
}

button {
  background-image: linear-gradient(#fff, #eee);
  color: #222;
  font-family: Helvetica, sans-serif, system-ui;
  font-size: 16px;
  padding: 6px 16px;
  border: solid 2px #888;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 1px 5px #00000055;
  cursor: pointer;
}

button:active {
  background-image: linear-gradient(#eee, #ddd);
  box-shadow: 0 1px 8px #00000088;
}